:root {
    --red: #fe2c55;
    --black: #000;
    --black-blue: #0b1517;
    --white: #ffffff;
    --brown: #5a373f;
    --orange: #ee4d2d;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000; 
    background-image: linear-gradient(315deg, #000 0%, #01BAEF 75%);
}

.form-inner {
    background-color: var(--white);
    margin: 5rem 0;
    padding: 3rem 50px;
    border-radius: 7px;
}

.cart_modal {
    --bs-modal-width: 400px;
}
.modal-dialog {
    margin: 0;
    margin-left: auto;
    height: 100vh;
}

.modal-content {
    border-radius: 0;
    height: 100vh;
}

.cart-item__infor {
    padding-left: 12px;
    /* font-size: 20px; */
    color: var(--light-gray);
}

.cart-item__avatar {
    width: 65px;
}

.cart-item__name {
    /* font-weight: bold;
    font-size: 1rem; */
    color: var(--night-light);
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}