.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/slideshows/slideshow-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}
.btn-skew-left {
    transform: skew(10deg);
}
.bg-img-contain{
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: 100%; */
    /* width: 80%; */
    background-position: 10% 10%;
}   
.btn-orange{
    background-color: rgb(220, 99, 0);
}

@media (min-width: 1200px) {
    .responsive-btn-text {
    font-size: 30px!important;
    }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-btn-text {
    font-size: 20px!important;
    }
    .navbar{
        padding: 0;
    }
}

@media (max-width: 400px){
    .res-hero-btn{
        width: 60%!important;
    }
    .responsive-btn-text {
        font-size: 20px!important;
    }
}
